@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Competition Manager is a MAS project made by Jakub Wójcik.</p>
<p>Project's main objective was to develop an application strictly based on documentation that was created beforehand.</p>
<p>Entity Framework was used to map clases into a database since it provided a well suited code-first approach.</p>
<p>ASP.NET Razor was used for GUI.</p>
@Html.ActionLink("Business class diagram", "Cld", "Home") |
@Html.ActionLink("Activity diagram for adding helper to competition", "Ad")