@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Competition Manager is a MAS project made by Jakub Wójcik.</p>
<p>Procject's main objective is to implement documentation that was provided beforehand'.</p>
