
@{
    ViewBag.Title = "Cld";
}

<h1>Competition manager </h1>
<h2>Business class diagram</h2>

<img src="../Documentation/ad-Przypisywanie_pomocnika_do_zawodów.png" alt="Activity diagram" width="1600" height="900"  />
