
@{
    ViewBag.Title = "Cld";
}

<h1>Competition manager </h1>
<h2>Business class diagram</h2>

<img src="../Documentation/MAS_cld_projektowy.png" alt="Business class diagram" width="1600" height="900"  />
