@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class='wrapper'>
    <div class='listWrapper'>
        <h2>Competitions</h2>>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li></li>
        </ul>
    </div>
    <div class='listWrapper'>
        <h2>Helpers</h2>>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
        <a href="#">Add new helper</a>
    </div>
    <a href="#">Save assosciation</a>
</div>